@model MayBay.Models.TuyenBay
@using System.Web.Mvc

@{
    ViewBag.Title = "Thêm khách sạn mới";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

<h2>Thêm tuyến bay mới</h2>

@using (Html.BeginForm("Create", "TuyenBays", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <a>SanBayDen:</a>

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.SanBayDen, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SanBayDen, "", new { @class = "text-danger" })
        </div>
    </div>
    <a>SanBayDi:</a>

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.SanBayDi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SanBayDi, "", new { @class = "text-danger" })
        </div>
    </div>
   

    

    <div class="form-group">
        <div class="col-md-offset-0 col-md-10">
            <input type="submit" value="Thêm" class="btn btn-primary" />
        </div>
    </div>
}