@using MayBay.Models
@model ChuyenBay

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/KhachHang/Shared/_LayoutPage3.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Chi Tiết Phòng</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }

        h1 {
            margin: 0;
        }

        .room-details {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .room-image {
            max-width: 100%;
        }

        .room-info {
            margin-top: 20px;
        }

        .book-button {
            background-color: #0074cc;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

            .book-button:hover {
                background-color: #00579a;
            }
    </style>
</head>
<body>
    <header>
        <h1>Xem Chi Tiết Chuyến Bay </h1>
    </header>
    <div class="room-details">
        @if (Model != null)
        {
            var imageFileName = "r" + Model.MaCB;
            <a href="@Url.Action("Details", "KhachHang", new { id = Model.MaCB })">
                <img class="room-image" src="~/hinh/@(imageFileName).jpg" alt="Room Image 1" width="300" height="200">
            </a>
         
            <div class="room-info">

                <h2>Mã Chuyến Bay: @Model.MaCB</h2>
                <p>Mã Tuyến Bay: @Model.MaTBay</p>
                
                <p>Thời Gian Bay: @Model.ThoiGianBay</p>
                <p>Ngày Giờ: @Model.NgayGio</p>
                <p>Số Ghế Hàng 1: @Model.SoLuongGheHang1</p>
                <p>Số Ghế Hàng 2: @Model.SoLuongGheHang2</p>
                <p>Số Ghế Hàng 3: @Model.SoLuongGheHang3</p>
                <p>
                    Tình trạng:  @Model.TinhTrang
                </p>
            </div>




            <a class="btn btn-primary" href="@Url.Action("AddTicketToCart", "Cart", new { MaCB = Model.MaCB })" onclick="redirectToCart()">
                Đặt Vé
            </a>

          
            <script>
     function redirectToCart() {
                window.location.href = '@Url.Action("HienThiGioHang", "Cart")';
            }

            </script>

        }
    </div>


</body>
</html> 